@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.logo img {
    height: 60px;
    width: 158px;
    object-fit: contain;
}

.menus {
    align-items: center;
    display: flex;
    justify-content: end;
}

.menus ul {
    display: flex;
    align-items: center;
    margin: 0 !important;
    list-style-type: none;
}

.menus ul li {
    text-wrap: nowrap;
    height: 40px;
    border-radius: 120px;
    padding: 0 1.5rem;
    margin-right: 1rem;
    /* min-width: 115px; */
    text-align: center;
    line-height: 40px;
}

.menus ul li.activeLink,
.menus ul li:hover {
    background-color: #1A7FF9;
}

.menus ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
}

.menus button {
    height: 40px;
    min-width: 100px;
    border-radius: 120px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    background: #EE626B;
    text-transform: uppercase;
}

.headerWrapper {
    position: relative;
    transition: .20s ease;
}

.headerWrapper.active{
    position:fixed;
    box-shadow: 0 0 15px #33333383 ;
    top: 0;
    left: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    min-width:100vw;
    background-color: #0071F8;
    z-index: 9999;
}

@media screen and (max-width:1009px){
    .headerWrapper.active{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

}

.headerWrapper.active .headContainer{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.headerWrapper.active .logo img{
    height: 50px;
}

.headerWrapper i {
    display: none;
}


.bgContainer {
    min-height: 900px;
    width: 100%;
    background-image: url('../assets/images/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

.heroSection .banner-img {
    border-radius: 10px;
}

.banner-content span {
    font-size: 20px;
    color: #fff;
    display: inline-flex;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

.banner-content h2 {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.banner-content h2 img {
    position: absolute;
    bottom: -5px;
    left: 18%;
    width: 202px;
    object-fit: cover;
}

.banner-content p {
    color: #fff;
    margin-bottom: 70px;
    font-size: 14px;
}

.banner-content .field {
    height: 50px;
    max-width: 450px;
    width: 100%;
    border-radius: 120px;
    background-color: #fff;
    display: flex;
    overflow: hidden;
}

.banner-content .field input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 1rem;
}

.banner-content .field button {
    height: 50px;
    min-width: 150px;
    border-radius: 120px;
    border: none;
    outline: none;
    background-color: #EE626B;
    color: #fff;
    text-transform: uppercase;
}

.bannerImageBox {
    position: relative;
}

.bannerImageBox::after {
    position: absolute;
    content: "$22";
    text-align: center;
    line-height: 40px;
    height: 40px;
    top: 14px;
    right: 14px;
    width: 69px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    border-radius: 50px;
    background-color: #1A7FF9;
}

.bannerImageBox::before {
    position: absolute;
    content: "-40%";
    text-align: center;
    line-height: 100px;
    height: 100px;
    bottom: -32px;
    left: -45px;
    width: 100px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    background-color: #EE626B;
}

.fourBoxes {
    margin-top: 7rem;
}

.storageInfo {
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
}

.storageInfo>div {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A7FF9;
    transition: .20s ease;
}

.storageInfo span {
    font-size: 17px;
    font-weight: bold;
    color: #1E1E1E;
    margin-top: 17px;
}

.heading span {
    color: #EE626B;
    font-size: 15px;
    margin-top: 5rem;
    display: inline-flex;
    font-weight: bold;
    text-transform: uppercase;
}

.storageInfo:hover > div{
    background-color: #EE626B;
}

.heading>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading h1 {
    font-size: 36px;
    color: #1E1E1E;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}

.heading button {
    height: 50px;
    width: 121px;
    border-radius: 120px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #EE626B;
}

.gameBox {
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    background-color: #d8d8d84f;
}


.gameBox .price {
    position: absolute;
    top: 14px;
    display: flex;
    padding: .2rem .6rem;
    flex-direction: column;
    right: 14px;
    border-radius: 5px;
    background-color: #1A7FF9;
}

.gameBox .price span {
    font-size: 14px;
    color: #fff;
    display: inline-flex;
    margin: 0 !important;
    font-weight: bold;
}

.trendingGames>.container:first-child {
    margin-top: -32px;
}

.gameBox img {
    border-radius: 20px;
    width: 100%;
}

.gameBox div:nth-child(2) {
    padding: 13px 12px 12px 12px
}

.gameBox span {
    color: #7A7A7A;
    font-size: 14px;
}

.gameBox h2 {
    margin-bottom: 0 !important;
    line-height: 40px;
    font-size: 17px;
    color: #000;
    display: flow-root;
    transition: .30s ease;
}

.gameBox:hover h2 {
    color: #0071F8;
}

.gameBox h2 i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    float: right;
    transition: .30s ease;
    background-color: #EE626B;
}

.gameBox:hover i{
    background-color: #0071F8;
}

.mostPlayedSection {
    margin: 6rem 0;
    padding: 50px 0 125px 0;
    border-radius: 150px;
    background-color: #d8d8d84f;
}

.mostPlayedGames button {
    height: 40px;
    width: 93px;
    border: none;
    position: absolute;
    bottom: -15px;
    left: 24%;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    transition: .30s ease;
    border-radius: 120px;
    background-color: #EE626B;
}

.gameBox:hover button {
    background-color: #0071F8;
}

.categoriesBox {
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    background-color: #0071F8;
}

.categoriesBox h1 {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin: 1.3rem 0;
}

.categoriesBox img {
    height: 160px;
    border-radius: 20px;
}

.shoppingContent>span {
    font-size: 15px;
    color: #EE626B;
    font-weight: bold;
    text-transform: uppercase;
}

.shoppingContent h1 {
    font-size: 36px;
    color: #1E1E1E;
    font-weight: bold;
    margin-top: 20px;
}

.shoppingContent h1 span {
    color: #0071F8;
}

.shoppingContent p {
    margin-top: 3rem;
    font-size: 16px;
    color: #7A7A7A;
}

.shoppingContent button {
    margin-top: 3rem;
    height: 50px;
    width: 137px;
    border-radius: 120px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    background-color: #EE626B;
}

.shoppingContent .field {
    height: 50px;
    width: 100%;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    max-width: 331px;
    margin-top: 3rem;
}

.shoppingContent .field input {
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    border: none;
    outline: none;
}

.shoppingContent .field button {
    margin: 0 !important;
    min-width: 130px !important;
    text-wrap: nowrap;
}

.footer {
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer p {
    font-size: 16px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width:1199px) {
    .mostPlayedGames button {
        left: 33%;
    }
}

@media screen and (max-width:1018px) {

    .logo img {
        height: 50px !important;
    }

    .headerWrapper {
        padding: 1rem 0 !important;
    }

    .headerWrapper .menus {
        position: absolute;
        flex-direction: column;
        background-color: #fff;
        top: 100%;
        right: 0;
        opacity: 0;
        box-shadow: 1px 1px 15px #333;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        transition: .20s ease;
        width: 100%;
        z-index: 999;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .headerWrapper .menus.active {
        visibility: visible;
        opacity: 1;
        height: 201px;
    }

    .headerWrapper i {
        display: block;
        color: #fff;
        font-size: 1.7rem;
        cursor: pointer;
    }

    .headerWrapper .menus ul {
        flex-direction: column;
        width: 100% !important;
    }

    .headerWrapper .menus ul li {
        border-radius: 0px !important;
        width: 100% !important;
        border-bottom: 1px solid #bdbdbdee;
    }

    .headerWrapper .menus ul li a {
        color: #1E1E1E !important;
    }

    .menus ul li.activeLink a,
    .menus ul li:hover a {
        color: #EE626B !important;
    }

    .menus ul li.activeLink,
    .menus ul li:hover {
        background: none !important;
    }

    .menus button {
        background: none;
        color: #1E1E1E;
    }

}


@media screen and (max-width:992px) {
    .shopContent {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        padding: 2rem 1rem !important;
    }

}


@media screen and (max-width:767px) {
    .trendingGames>.container:first-child {
        margin-top: 450px;
    }

    /* .bgContainer {
        max-height: 1800px !important;
    } */

    .banner-content {
        text-align: center;
    }

    .banner-content h2 img {
        bottom: -15px;
        left: 30%;
    }

    .banner-content .field {
        max-width: 100%;
    }

    .bannerImageBox::after {
        right: 65px;
    }

    .bannerImageBox::before {

        left: 10px;
    }

    .mostPlayedGames button {
        left: 40%;
    }

    .footer {
        border-radius: 20px !important;
    }
}

@media screen and (max-width:555px) {
    .mostPlayedSection {
        border-radius: 52px
    }

}

.loaderContainer{
    position:absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}

.loaderContainer.active{
    opacity: 0;
    visibility: hidden;
}

.loading{
    display: flex;
}

.loading .circle{
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: #0071F8;
}

.loading .circle2,
.loading .circle3,
.loading .circle4{
    animation: translation1 2s ease 0s infinite alternate-reverse;
}

.loading .circle1{
    animation: translation 2s ease 0s infinite alternate-reverse;
}

@keyframes translation {
    0%{
        transform: translateX(130px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes translation1 {
    0%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0);
    }
}