.bgContainer {
    min-height: 450px !important;
}

.productDetail{
    margin: 120px 0;
}

.productContainer {
    margin-top: 100px;
}

.productContainer h1 {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    margin: 20px 0;
    text-transform: uppercase;
}

.productContainer span {
    color: #fff;
    font-size: 16px;
}

.productContainer span i {
    font-size: 12px;
    margin: 0 .2rem;
}

.productContent h1{
    color: #1E1E1E;
    font-size: 27px;
    margin-bottom: 20px;
    font-weight: bold;
}

.productContent h2{
    font-size: 27px;
    font-weight: bold;
    color: #0071F8;
}

.productContent p{
    color: #4A4A4A;
    margin: 50px 0;
    font-size: 14px;
}

.cart .form-control{
    height: 50px;
    width: 80px;
    padding-left:2rem;
    margin-right: 1rem;
    border-radius: 120px;
}

.cart button{
    height: 50px;
    width: 171px;
    border: none;
    outline: none;
    border-radius: 120px;
    color: #fff;
    cursor: pointer;
    background-color: #EE626B;
}

.gameDetail{
    margin-top: 60px;
}

.description{
    margin: 120px 0;
}

.descriptionContainer{
    border-radius: 25px;
    padding: 60px;
    background-color:#F7F7F7;
}

.descBtn button{
    border: none;
    outline: none;
    font-weight: bold;
    color: #1E1E1E;
    font-size: 20px;
    background: none;
}

.descBtn button:last-child{
    padding: 0 0 0 13px;
}

.descBtn button:first-child{
    padding: 0 13px 0 0;
    border-right: 1px solid #4A4A4A !important;
}

.descBtn button.active{
    color: #0071F8;
}

.descBox p{
    font-size: 14px;
    color: #4A4A4A;
    line-height: 28px;
}

.descContainer{
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: display .30s ease;
}

.descContainer.active{
    opacity: 1;
    visibility: visible;
    display: block;
    transition: display .30s ease;
}
